/.vscode/
/bin/
/build/

/projects/godot-4/.godot/
/projects/godot-4/sg-physics-2d/
/projects/godot-4/build/

/projects/godot-3/.import/
/projects/godot-3/.mono/
/projects/godot-3/build/

*.code-workspace

.sconsign.dblite

*.swp
*.o
*.os
*.so
*.pyc
*.bc
*.obj
*.tmp

